<img class = "pure-u-1-5" style="border-radius: 1000px; width: 20%; height: auto;" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10151385_10203593263297900_1626016852_n.jpg?oh=c76b10242c17841408d0ceff7f55a65b&oe=54CCA5CC&__gda__=1417895663_38cd236cbfcdd7f7d22a8d3c88b7e9e9" />

<object data="/Addis_Resume.pdf" type="application/pdf" width="70%" height="80%">
<a class = "pure-u-4-5" href="data/test.pdf">test.pdf</a>
</object>