<div class = "pure-u-1-5" id = "aboutpics">
<img  id = "aboutimg" src="https://fbcdn-sphotos-a-a.akamaihd.
							net/hphotos-ak-xfa1/v/t1.0-9/10151385_
							10203593263297900_1626016852_n.jpg?oh=
							c76b10242c17841408d0ceff7f55a65b&oe=54CC
							A5CC&__gda__=1417895663_38cd236cbfcdd7f7
							d22a8d3c88b7e9e9" /><br>
<img  id="aboutimg" src="https://fbcdn-sphotos-f-a.akamaihd.net/
							hphotos-ak-xpa1/v/t1.0-9/10650053_102
							04876339534004_675400607303158411_n.j
							pg?oh=905ac470ccfdec596221654ca4f05232&
							oe=54826EDC&__gda__=1422750646_7fcc11d692
							950174529d8d1d3b5a9aca" />
<img  id="aboutimg" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos
							-ak-xpa1/v/t1.0-9/1604876_10202970757655648_
							1222154591_n.jpg?oh=8fb8f1eae2e6405187f79f46
							b49c407c&oe=54BFB7E6&__gda__=1421841721_739949b
							26f992eb30632e2f36043779d" />
</div>
<object data="/Addis_Resume.pdf" type="application/pdf" width="67%" height="90%">
<a class = "pure-u-4-5" href="data/test.pdf">test.pdf</a>
</object>


