<div class = "pure-g-1-2">
	<div class = "pure-u-1-4"> <a href="/#search" class = 
			"pure-button pure-button-primary"> Go Back </a> </div>

	<h1 class = "splash-head pure-u-2-4" id = "failtext"> 
	Sorry, that data set doesn't exist... Try again! </h1>
</div>
<div class = "pure-g-1-2">
	<div class="pure-u-1-3"></div>
	<img class = "pure-u-1-3" src="http://freepngimages.com/wp-content/uploads/2014/05/Negative_2.png"/>
	<div class="pure-u-1-3"></div>
</div>
