
<div class = "pure-u-1-3">
	<form action= "/schools" class="pure-form pure-form-stacked">
	    <fieldset>
	        <legend>Select Information</legend>
	        <label for="state">County</label>
	        <select id="state" name="state">
	            <option>AL</option>
	            <option>CA</option>
	            <option>IL</option>
	        </select>
	        </label>

	        <label for="city">District</label>
	        <select id="state" name="city">
	            <option>1</option>
	            <option>2</option>
	            <option>3</option>
	        </select>
	        </label>

	         <label for="city">School</label>
	        <select id="state" name="city">
	            <option>Blair</option>
	            <option>Horse Men</option>
	            <option>Exit-or</option>
	        </select>
	        </label>
	        <button name = "button1" type="submit" class="pure-button pure-button-primary">Sign in</button>
	    </fieldset>
	</form>
</div>