<div class = "splash-container">
	<div class = "splash">
		<h1 class="splash-head"> California Standardized <br> Test Score Graph </h1>
		<p class = "splash-subhead"> A website that graphs CA standardized test scores from 2000-2013. Click below to begin! </p>

		<a href = "/home" class="pure-button pure-button-primary"> Let's Get Started </a>
	</div>
</div>

