<html>
<head>
	<title>CAtest</title>
	<link type: "text/css" rel="stylesheet" href = "/style.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/pure-min.css">

	<script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="/c3.min.js" charset="utf-8"></script>
	<script src="vendor/modernizr.js"></script> -->

	<!-- Load c3.css -->
	<link href="/c3/c3.css" rel="stylesheet" type="text/css">

	<!-- Load d3.js and c3.js -->
	<script src="/d3/d3.js" charset="utf-8"></script>
	<script src="/c3/c3.js" charset="utf-8"></script>
	<link rel="stylesheet" href="/c3.css">
	    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">

</head>
<body class = "container">
<div class = "header">
	<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
	    <a style = "float: left" href="/" class="pure-menu-heading">CA Test</a>
	    <ul style="float: right;">
	        <li class="pure-menu-selected"><a href="/">Home</a></li>
	        <li><a href="/about">About</a></li>
	        <li><a href="graphs">Graphs</a></li>
	        <li><a href="/schools">Schools</a></li>
	    </ul>
	</div>
</div>
	<div style = "padding-top: 5%"> <%= yield %> </div>
</body>
</html>