<a href = "/home" class="pure-button pure-button-primary"> By County </a>

<a href = "/home" class="pure-button pure-button-primary"> By District </a>

<a href = "/home" class="pure-button pure-button-primary"> By School </a>